In [1]:
import polars as pl
from src.main import GetTanksReq, fetch_tank_data

req = GetTanksReq(property_ids={"480001"})

df = await fetch_tank_data(req)
if df is None:
    raise ValueError("df is None")
lf = df.lazy()
lf.collect()

shape: (16, 8)
┌─────────────┬───────────┬─────────────┬─────────────┬──────┬─────────────┬────────────┬──────────┐
│ property_id ┆ scada_id  ┆ metric_nice ┆ unique_id   ┆ uom  ┆ timestamp   ┆ value      ┆ tanksize │
│ ---         ┆ ---       ┆ _name       ┆ ---         ┆ ---  ┆ ---         ┆ ---        ┆ ---      │
│ str         ┆ str       ┆ ---         ┆ object      ┆ str  ┆ datetime[μs ┆ f64        ┆ null     │
│             ┆           ┆ str         ┆             ┆      ┆ ]           ┆            ┆          │
╞═════════════╪═══════════╪═════════════╪═════════════╪══════╪═════════════╪════════════╪══════════╡
│ 480001      ┆ FTW480001 ┆ ESD-OilTank ┆ 0a5456a7-80 ┆ in   ┆ 2024-03-06  ┆ 66.518221  ┆ null     │
│             ┆           ┆ InchesUntil ┆ da-44cd-b19 ┆      ┆ 04:14:39.11 ┆            ┆          │
│             ┆           ┆ Alarm       ┆ 1-130a0a…   ┆      ┆ 3032        ┆            ┆          │
│ 480001      ┆ FTW480001 ┆ WaterTank1C ┆ 1a909c77-d9 ┆ bbl  ┆ 2023-11-07  ┆ 410.476513 ┆ null     │
│             ┆           ┆ apacity     ┆ 10-4862-b7f ┆      ┆ 09:00:00    ┆            ┆          │
│             ┆           ┆             ┆ 4-0ae902…   ┆      ┆             ┆            ┆          │
│ 480001      ┆ FTW480001 ┆ WaterTank1V ┆ 33b18ec5-46 ┆ bbl  ┆ 2024-03-06  ┆ 58.378953  ┆ null     │
│             ┆           ┆ olume       ┆ 80-4279-bc0 ┆      ┆ 04:11:04.37 ┆            ┆          │
│             ┆           ┆             ┆ e-b9f876…   ┆      ┆ 2011        ┆            ┆          │
│ 480001      ┆ FTW480001 ┆ WaterTank2V ┆ 393a9fd5-86 ┆ bbl  ┆ 2024-03-06  ┆ 232.610547 ┆ null     │
│             ┆           ┆ olume       ┆ 6d-45d9-98f ┆      ┆ 04:11:21.20 ┆            ┆          │
│             ┆           ┆             ┆ 2-3145da…   ┆      ┆ 6990        ┆            ┆          │
│ 480001      ┆ FTW480001 ┆ OilTank1Lev ┆ 3eb86565-9a ┆ in   ┆ 2024-03-06  ┆ 81.727208  ┆ null     │
│             ┆           ┆ el          ┆ 8c-4645-9e3 ┆      ┆ 04:12:36.24 ┆            ┆          │
│             ┆           ┆             ┆ b-ead0c0…   ┆      ┆ 2968        ┆            ┆          │
│ …           ┆ …         ┆ …           ┆ …           ┆ …    ┆ …           ┆ …          ┆ …        │
│ 480001      ┆ FTW480001 ┆ ESD-OilTank ┆ 91346655-25 ┆ null ┆ 2023-11-07  ┆ 1.0        ┆ null     │
│             ┆           ┆ ID          ┆ a8-4a44-a3a ┆      ┆ 09:00:00    ┆            ┆          │
│             ┆           ┆             ┆ c-c8fc14…   ┆      ┆             ┆            ┆          │
│ 480001      ┆ FTW480001 ┆ OilTank1Vol ┆ 970e57ed-34 ┆ bbl  ┆ 2024-03-06  ┆ 227.020022 ┆ null     │
│             ┆           ┆ ume         ┆ f9-4306-b0a ┆      ┆ 04:12:36.24 ┆            ┆          │
│             ┆           ┆             ┆ 3-5cd7b5…   ┆      ┆ 2968        ┆            ┆          │
│ 480001      ┆ FTW480001 ┆ OilTank2Cap ┆ 9e41a2e8-78 ┆ bbl  ┆ 2023-11-07  ┆ 406.099328 ┆ null     │
│             ┆           ┆ acity       ┆ d5-4dd9-b63 ┆      ┆ 09:00:00    ┆            ┆          │
│             ┆           ┆             ┆ f-66fa46…   ┆      ┆             ┆            ┆          │
│ 480001      ┆ FTW480001 ┆ OilTank2Lev ┆ b2b972c2-86 ┆ in   ┆ 2024-03-06  ┆ 98.825588  ┆ null     │
│             ┆           ┆ el          ┆ 85-4877-836 ┆      ┆ 04:14:00.32 ┆            ┆          │
│             ┆           ┆             ┆ 3-484e00…   ┆      ┆ 1573        ┆            ┆          │
│ 480001      ┆ FTW480001 ┆ ESD-WaterTa ┆ bf404389-f8 ┆ null ┆ 2023-11-07  ┆ 1.0        ┆ null     │
│             ┆           ┆ nkID        ┆ 6f-47fe-8eb ┆      ┆ 09:00:00    ┆            ┆          │
│             ┆           ┆             ┆ 6-aac06d…   ┆      ┆             ┆            ┆          │
└─────────────┴───────────┴─────────────┴─────────────┴──────┴─────────────┴────────────┴──────────┘

In [2]:
lf = lf.drop("unique_id")
lf.collect()

shape: (16, 7)
┌─────────────┬───────────┬───────────────────────┬──────┬─────────────────┬────────────┬──────────┐
│ property_id ┆ scada_id  ┆ metric_nice_name      ┆ uom  ┆ timestamp       ┆ value      ┆ tanksize │
│ ---         ┆ ---       ┆ ---                   ┆ ---  ┆ ---             ┆ ---        ┆ ---      │
│ str         ┆ str       ┆ str                   ┆ str  ┆ datetime[μs]    ┆ f64        ┆ null     │
╞═════════════╪═══════════╪═══════════════════════╪══════╪═════════════════╪════════════╪══════════╡
│ 480001      ┆ FTW480001 ┆ ESD-OilTankInchesUnti ┆ in   ┆ 2024-03-06      ┆ 66.518221  ┆ null     │
│             ┆           ┆ lAlarm                ┆      ┆ 04:14:39.113032 ┆            ┆          │
│ 480001      ┆ FTW480001 ┆ WaterTank1Capacity    ┆ bbl  ┆ 2023-11-07      ┆ 410.476513 ┆ null     │
│             ┆           ┆                       ┆      ┆ 09:00:00        ┆            ┆          │
│ 480001      ┆ FTW480001 ┆ WaterTank1Volume      ┆ bbl  ┆ 2024-03-06      ┆ 58.378953  ┆ null     │
│             ┆           ┆                       ┆      ┆ 04:11:04.372011 ┆            ┆          │
│ 480001      ┆ FTW480001 ┆ WaterTank2Volume      ┆ bbl  ┆ 2024-03-06      ┆ 232.610547 ┆ null     │
│             ┆           ┆                       ┆      ┆ 04:11:21.206990 ┆            ┆          │
│ 480001      ┆ FTW480001 ┆ OilTank1Level         ┆ in   ┆ 2024-03-06      ┆ 81.727208  ┆ null     │
│             ┆           ┆                       ┆      ┆ 04:12:36.242968 ┆            ┆          │
│ …           ┆ …         ┆ …                     ┆ …    ┆ …               ┆ …          ┆ …        │
│ 480001      ┆ FTW480001 ┆ ESD-OilTankID         ┆ null ┆ 2023-11-07      ┆ 1.0        ┆ null     │
│             ┆           ┆                       ┆      ┆ 09:00:00        ┆            ┆          │
│ 480001      ┆ FTW480001 ┆ OilTank1Volume        ┆ bbl  ┆ 2024-03-06      ┆ 227.020022 ┆ null     │
│             ┆           ┆                       ┆      ┆ 04:12:36.242968 ┆            ┆          │
│ 480001      ┆ FTW480001 ┆ OilTank2Capacity      ┆ bbl  ┆ 2023-11-07      ┆ 406.099328 ┆ null     │
│             ┆           ┆                       ┆      ┆ 09:00:00        ┆            ┆          │
│ 480001      ┆ FTW480001 ┆ OilTank2Level         ┆ in   ┆ 2024-03-06      ┆ 98.825588  ┆ null     │
│             ┆           ┆                       ┆      ┆ 04:14:00.321573 ┆            ┆          │
│ 480001      ┆ FTW480001 ┆ ESD-WaterTankID       ┆ null ┆ 2023-11-07      ┆ 1.0        ┆ null     │
│             ┆           ┆                       ┆      ┆ 09:00:00        ┆            ┆          │
└─────────────┴───────────┴───────────────────────┴──────┴─────────────────┴────────────┴──────────┘

In [3]:
tank_metrics = ["Level", "Volume", "InchesUntilAlarm", "InchesToESD", "TimeUntilESD", "Capacity", "ID"]
tank_types = ["Water", "Oil"]

tank_metrics_str= "|".join(tank_metrics)
tank_types_str = "|".join(tank_types)

pattern = f'^(?<is_esd>ESD-)?(?<tank_type>{tank_types_str})Tank(?<tank_number>[0-9]*)(?<tank_metric>{tank_metrics_str})'
lf = lf.with_columns(separated_metrics = pl.col("metric_nice_name").str.extract_groups(pattern))
lf.collect()

shape: (16, 8)
┌─────────────┬───────────┬─────────────┬──────┬─────────────┬────────────┬──────────┬─────────────┐
│ property_id ┆ scada_id  ┆ metric_nice ┆ uom  ┆ timestamp   ┆ value      ┆ tanksize ┆ separated_m │
│ ---         ┆ ---       ┆ _name       ┆ ---  ┆ ---         ┆ ---        ┆ ---      ┆ etrics      │
│ str         ┆ str       ┆ ---         ┆ str  ┆ datetime[μs ┆ f64        ┆ null     ┆ ---         │
│             ┆           ┆ str         ┆      ┆ ]           ┆            ┆          ┆ struct[4]   │
╞═════════════╪═══════════╪═════════════╪══════╪═════════════╪════════════╪══════════╪═════════════╡
│ 480001      ┆ FTW480001 ┆ ESD-OilTank ┆ in   ┆ 2024-03-06  ┆ 66.518221  ┆ null     ┆ {"ESD-","Oi │
│             ┆           ┆ InchesUntil ┆      ┆ 04:14:39.11 ┆            ┆          ┆ l","","Inch │
│             ┆           ┆ Alarm       ┆      ┆ 3032        ┆            ┆          ┆ esUntilA…   │
│ 480001      ┆ FTW480001 ┆ WaterTank1C ┆ bbl  ┆ 2023-11-07  ┆ 410.476513 ┆ null     ┆ {null,"Wate │
│             ┆           ┆ apacity     ┆      ┆ 09:00:00    ┆            ┆          ┆ r","1","Cap │
│             ┆           ┆             ┆      ┆             ┆            ┆          ┆ acity"}     │
│ 480001      ┆ FTW480001 ┆ WaterTank1V ┆ bbl  ┆ 2024-03-06  ┆ 58.378953  ┆ null     ┆ {null,"Wate │
│             ┆           ┆ olume       ┆      ┆ 04:11:04.37 ┆            ┆          ┆ r","1","Vol │
│             ┆           ┆             ┆      ┆ 2011        ┆            ┆          ┆ ume"}       │
│ 480001      ┆ FTW480001 ┆ WaterTank2V ┆ bbl  ┆ 2024-03-06  ┆ 232.610547 ┆ null     ┆ {null,"Wate │
│             ┆           ┆ olume       ┆      ┆ 04:11:21.20 ┆            ┆          ┆ r","2","Vol │
│             ┆           ┆             ┆      ┆ 6990        ┆            ┆          ┆ ume"}       │
│ 480001      ┆ FTW480001 ┆ OilTank1Lev ┆ in   ┆ 2024-03-06  ┆ 81.727208  ┆ null     ┆ {null,"Oil" │
│             ┆           ┆ el          ┆      ┆ 04:12:36.24 ┆            ┆          ┆ ,"1","Level │
│             ┆           ┆             ┆      ┆ 2968        ┆            ┆          ┆ "}          │
│ …           ┆ …         ┆ …           ┆ …    ┆ …           ┆ …          ┆ …        ┆ …           │
│ 480001      ┆ FTW480001 ┆ ESD-OilTank ┆ null ┆ 2023-11-07  ┆ 1.0        ┆ null     ┆ {"ESD-","Oi │
│             ┆           ┆ ID          ┆      ┆ 09:00:00    ┆            ┆          ┆ l","","ID"} │
│ 480001      ┆ FTW480001 ┆ OilTank1Vol ┆ bbl  ┆ 2024-03-06  ┆ 227.020022 ┆ null     ┆ {null,"Oil" │
│             ┆           ┆ ume         ┆      ┆ 04:12:36.24 ┆            ┆          ┆ ,"1","Volum │
│             ┆           ┆             ┆      ┆ 2968        ┆            ┆          ┆ e"}         │
│ 480001      ┆ FTW480001 ┆ OilTank2Cap ┆ bbl  ┆ 2023-11-07  ┆ 406.099328 ┆ null     ┆ {null,"Oil" │
│             ┆           ┆ acity       ┆      ┆ 09:00:00    ┆            ┆          ┆ ,"2","Capac │
│             ┆           ┆             ┆      ┆             ┆            ┆          ┆ ity"}       │
│ 480001      ┆ FTW480001 ┆ OilTank2Lev ┆ in   ┆ 2024-03-06  ┆ 98.825588  ┆ null     ┆ {null,"Oil" │
│             ┆           ┆ el          ┆      ┆ 04:14:00.32 ┆            ┆          ┆ ,"2","Level │
│             ┆           ┆             ┆      ┆ 1573        ┆            ┆          ┆ "}          │
│ 480001      ┆ FTW480001 ┆ ESD-WaterTa ┆ null ┆ 2023-11-07  ┆ 1.0        ┆ null     ┆ {"ESD-","Wa │
│             ┆           ┆ nkID        ┆      ┆ 09:00:00    ┆            ┆          ┆ ter","","ID │
│             ┆           ┆             ┆      ┆             ┆            ┆          ┆ "}          │
└─────────────┴───────────┴─────────────┴──────┴─────────────┴────────────┴──────────┴─────────────┘

In [4]:
lf = lf.unnest("separated_metrics")
lf.collect()

shape: (16, 11)
┌─────────────┬───────────┬─────────────┬──────┬───┬────────┬───────────┬─────────────┬────────────┐
│ property_id ┆ scada_id  ┆ metric_nice ┆ uom  ┆ … ┆ is_esd ┆ tank_type ┆ tank_number ┆ tank_metri │
│ ---         ┆ ---       ┆ _name       ┆ ---  ┆   ┆ ---    ┆ ---       ┆ ---         ┆ c          │
│ str         ┆ str       ┆ ---         ┆ str  ┆   ┆ str    ┆ str       ┆ str         ┆ ---        │
│             ┆           ┆ str         ┆      ┆   ┆        ┆           ┆             ┆ str        │
╞═════════════╪═══════════╪═════════════╪══════╪═══╪════════╪═══════════╪═════════════╪════════════╡
│ 480001      ┆ FTW480001 ┆ ESD-OilTank ┆ in   ┆ … ┆ ESD-   ┆ Oil       ┆             ┆ InchesUnti │
│             ┆           ┆ InchesUntil ┆      ┆   ┆        ┆           ┆             ┆ lAlarm     │
│             ┆           ┆ Alarm       ┆      ┆   ┆        ┆           ┆             ┆            │
│ 480001      ┆ FTW480001 ┆ WaterTank1C ┆ bbl  ┆ … ┆ null   ┆ Water     ┆ 1           ┆ Capacity   │
│             ┆           ┆ apacity     ┆      ┆   ┆        ┆           ┆             ┆            │
│ 480001      ┆ FTW480001 ┆ WaterTank1V ┆ bbl  ┆ … ┆ null   ┆ Water     ┆ 1           ┆ Volume     │
│             ┆           ┆ olume       ┆      ┆   ┆        ┆           ┆             ┆            │
│ 480001      ┆ FTW480001 ┆ WaterTank2V ┆ bbl  ┆ … ┆ null   ┆ Water     ┆ 2           ┆ Volume     │
│             ┆           ┆ olume       ┆      ┆   ┆        ┆           ┆             ┆            │
│ 480001      ┆ FTW480001 ┆ OilTank1Lev ┆ in   ┆ … ┆ null   ┆ Oil       ┆ 1           ┆ Level      │
│             ┆           ┆ el          ┆      ┆   ┆        ┆           ┆             ┆            │
│ …           ┆ …         ┆ …           ┆ …    ┆ … ┆ …      ┆ …         ┆ …           ┆ …          │
│ 480001      ┆ FTW480001 ┆ ESD-OilTank ┆ null ┆ … ┆ ESD-   ┆ Oil       ┆             ┆ ID         │
│             ┆           ┆ ID          ┆      ┆   ┆        ┆           ┆             ┆            │
│ 480001      ┆ FTW480001 ┆ OilTank1Vol ┆ bbl  ┆ … ┆ null   ┆ Oil       ┆ 1           ┆ Volume     │
│             ┆           ┆ ume         ┆      ┆   ┆        ┆           ┆             ┆            │
│ 480001      ┆ FTW480001 ┆ OilTank2Cap ┆ bbl  ┆ … ┆ null   ┆ Oil       ┆ 2           ┆ Capacity   │
│             ┆           ┆ acity       ┆      ┆   ┆        ┆           ┆             ┆            │
│ 480001      ┆ FTW480001 ┆ OilTank2Lev ┆ in   ┆ … ┆ null   ┆ Oil       ┆ 2           ┆ Level      │
│             ┆           ┆ el          ┆      ┆   ┆        ┆           ┆             ┆            │
│ 480001      ┆ FTW480001 ┆ ESD-WaterTa ┆ null ┆ … ┆ ESD-   ┆ Water     ┆             ┆ ID         │
│             ┆           ┆ nkID        ┆      ┆   ┆        ┆           ┆             ┆            │
└─────────────┴───────────┴─────────────┴──────┴───┴────────┴───────────┴─────────────┴────────────┘

In [5]:
lf = lf.with_columns(pl.col("tank_number").cast(pl.UInt8, strict=False))
lf.collect()

shape: (16, 11)
┌─────────────┬───────────┬─────────────┬──────┬───┬────────┬───────────┬─────────────┬────────────┐
│ property_id ┆ scada_id  ┆ metric_nice ┆ uom  ┆ … ┆ is_esd ┆ tank_type ┆ tank_number ┆ tank_metri │
│ ---         ┆ ---       ┆ _name       ┆ ---  ┆   ┆ ---    ┆ ---       ┆ ---         ┆ c          │
│ str         ┆ str       ┆ ---         ┆ str  ┆   ┆ str    ┆ str       ┆ u8          ┆ ---        │
│             ┆           ┆ str         ┆      ┆   ┆        ┆           ┆             ┆ str        │
╞═════════════╪═══════════╪═════════════╪══════╪═══╪════════╪═══════════╪═════════════╪════════════╡
│ 480001      ┆ FTW480001 ┆ ESD-OilTank ┆ in   ┆ … ┆ ESD-   ┆ Oil       ┆ null        ┆ InchesUnti │
│             ┆           ┆ InchesUntil ┆      ┆   ┆        ┆           ┆             ┆ lAlarm     │
│             ┆           ┆ Alarm       ┆      ┆   ┆        ┆           ┆             ┆            │
│ 480001      ┆ FTW480001 ┆ WaterTank1C ┆ bbl  ┆ … ┆ null   ┆ Water     ┆ 1           ┆ Capacity   │
│             ┆           ┆ apacity     ┆      ┆   ┆        ┆           ┆             ┆            │
│ 480001      ┆ FTW480001 ┆ WaterTank1V ┆ bbl  ┆ … ┆ null   ┆ Water     ┆ 1           ┆ Volume     │
│             ┆           ┆ olume       ┆      ┆   ┆        ┆           ┆             ┆            │
│ 480001      ┆ FTW480001 ┆ WaterTank2V ┆ bbl  ┆ … ┆ null   ┆ Water     ┆ 2           ┆ Volume     │
│             ┆           ┆ olume       ┆      ┆   ┆        ┆           ┆             ┆            │
│ 480001      ┆ FTW480001 ┆ OilTank1Lev ┆ in   ┆ … ┆ null   ┆ Oil       ┆ 1           ┆ Level      │
│             ┆           ┆ el          ┆      ┆   ┆        ┆           ┆             ┆            │
│ …           ┆ …         ┆ …           ┆ …    ┆ … ┆ …      ┆ …         ┆ …           ┆ …          │
│ 480001      ┆ FTW480001 ┆ ESD-OilTank ┆ null ┆ … ┆ ESD-   ┆ Oil       ┆ null        ┆ ID         │
│             ┆           ┆ ID          ┆      ┆   ┆        ┆           ┆             ┆            │
│ 480001      ┆ FTW480001 ┆ OilTank1Vol ┆ bbl  ┆ … ┆ null   ┆ Oil       ┆ 1           ┆ Volume     │
│             ┆           ┆ ume         ┆      ┆   ┆        ┆           ┆             ┆            │
│ 480001      ┆ FTW480001 ┆ OilTank2Cap ┆ bbl  ┆ … ┆ null   ┆ Oil       ┆ 2           ┆ Capacity   │
│             ┆           ┆ acity       ┆      ┆   ┆        ┆           ┆             ┆            │
│ 480001      ┆ FTW480001 ┆ OilTank2Lev ┆ in   ┆ … ┆ null   ┆ Oil       ┆ 2           ┆ Level      │
│             ┆           ┆ el          ┆      ┆   ┆        ┆           ┆             ┆            │
│ 480001      ┆ FTW480001 ┆ ESD-WaterTa ┆ null ┆ … ┆ ESD-   ┆ Water     ┆ null        ┆ ID         │
│             ┆           ┆ nkID        ┆      ┆   ┆        ┆           ┆             ┆            │
└─────────────┴───────────┴─────────────┴──────┴───┴────────┴───────────┴─────────────┴────────────┘

In [6]:
#pivoting the data
values = pl.col("value")
columns = pl.col("tank_metric")
pivoted_lf = lf.group_by("property_id", "tank_type", "tank_number", "scada_id").agg(
    values.filter(columns == metric).first().alias(metric) for metric in tank_metrics
)

pivoted_lf.collect()

shape: (6, 11)
┌────────────┬───────────┬────────────┬───────────┬───┬────────────┬────────────┬───────────┬──────┐
│ property_i ┆ tank_type ┆ tank_numbe ┆ scada_id  ┆ … ┆ InchesToES ┆ TimeUntilE ┆ Capacity  ┆ ID   │
│ d          ┆ ---       ┆ r          ┆ ---       ┆   ┆ D          ┆ SD         ┆ ---       ┆ ---  │
│ ---        ┆ str       ┆ ---        ┆ str       ┆   ┆ ---        ┆ ---        ┆ f64       ┆ f64  │
│ str        ┆           ┆ u8         ┆           ┆   ┆ f64        ┆ f64        ┆           ┆      │
╞════════════╪═══════════╪════════════╪═══════════╪═══╪════════════╪════════════╪═══════════╪══════╡
│ 480001     ┆ Water     ┆ null       ┆ FTW480001 ┆ … ┆ null       ┆ null       ┆ null      ┆ 1.0  │
│ 480001     ┆ Water     ┆ 2          ┆ FTW480001 ┆ … ┆ null       ┆ null       ┆ 409.71822 ┆ null │
│            ┆           ┆            ┆           ┆   ┆            ┆            ┆ 2         ┆      │
│ 480001     ┆ Water     ┆ 1          ┆ FTW480001 ┆ … ┆ null       ┆ null       ┆ 410.47651 ┆ null │
│            ┆           ┆            ┆           ┆   ┆            ┆            ┆ 3         ┆      │
│ 480001     ┆ Oil       ┆ 2          ┆ FTW480001 ┆ … ┆ null       ┆ null       ┆ 406.09932 ┆ null │
│            ┆           ┆            ┆           ┆   ┆            ┆            ┆ 8         ┆      │
│ 480001     ┆ Oil       ┆ null       ┆ FTW480001 ┆ … ┆ null       ┆ null       ┆ null      ┆ 1.0  │
│ 480001     ┆ Oil       ┆ 1          ┆ FTW480001 ┆ … ┆ null       ┆ null       ┆ 413.34411 ┆ null │
│            ┆           ┆            ┆           ┆   ┆            ┆            ┆ 8         ┆      │
└────────────┴───────────┴────────────┴───────────┴───┴────────────┴────────────┴───────────┴──────┘

In [7]:
null_condition = pl.col("tank_number").is_null()
not_null_condition = pl.col("tank_number").is_not_null()

null_tanks = pivoted_lf.filter(null_condition)
numbered_tanks = pivoted_lf.filter(not_null_condition)

null_tanks = null_tanks.with_columns(pl.col("ID").alias("tank_number"))
null_tanks = null_tanks.drop("ID")
null_tanks = null_tanks.with_columns(pl.col("tank_number").cast(pl.UInt8, strict=False))

null_tanks.collect()

shape: (2, 10)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ property_ ┆ tank_type ┆ tank_numb ┆ scada_id  ┆ … ┆ InchesUnt ┆ InchesToE ┆ TimeUntil ┆ Capacity │
│ id        ┆ ---       ┆ er        ┆ ---       ┆   ┆ ilAlarm   ┆ SD        ┆ ESD       ┆ ---      │
│ ---       ┆ str       ┆ ---       ┆ str       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ f64      │
│ str       ┆           ┆ u8        ┆           ┆   ┆ f64       ┆ f64       ┆ f64       ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 480001    ┆ Water     ┆ 1         ┆ FTW480001 ┆ … ┆ 173.40877 ┆ null      ┆ null      ┆ null     │
│ 480001    ┆ Oil       ┆ 1         ┆ FTW480001 ┆ … ┆ 66.518221 ┆ null      ┆ null      ┆ null     │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [8]:
joined_lf = numbered_tanks.join(null_tanks, on=["property_id", "tank_type", "tank_number"], how="left")
joined_lf.collect()

shape: (4, 18)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ property_ ┆ tank_type ┆ tank_numb ┆ scada_id  ┆ … ┆ InchesUnt ┆ InchesToE ┆ TimeUntil ┆ Capacity │
│ id        ┆ ---       ┆ er        ┆ ---       ┆   ┆ ilAlarm_r ┆ SD_right  ┆ ESD_right ┆ _right   │
│ ---       ┆ str       ┆ ---       ┆ str       ┆   ┆ ight      ┆ ---       ┆ ---       ┆ ---      │
│ str       ┆           ┆ u8        ┆           ┆   ┆ ---       ┆ f64       ┆ f64       ┆ f64      │
│           ┆           ┆           ┆           ┆   ┆ f64       ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 480001    ┆ Oil       ┆ 2         ┆ FTW480001 ┆ … ┆ null      ┆ null      ┆ null      ┆ null     │
│ 480001    ┆ Water     ┆ 1         ┆ FTW480001 ┆ … ┆ 173.40877 ┆ null      ┆ null      ┆ null     │
│ 480001    ┆ Water     ┆ 2         ┆ FTW480001 ┆ … ┆ null      ┆ null      ┆ null      ┆ null     │
│ 480001    ┆ Oil       ┆ 1         ┆ FTW480001 ┆ … ┆ 66.518221 ┆ null      ┆ null      ┆ null     │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [9]:
final_lf = joined_lf.join(lf, on=["scada_id"], how="left")
final_lf = final_lf.group_by("property_id", "tank_type", "tank_number").agg(pl.all().first())
final_lf.collect()

shape: (4, 28)
┌────────────┬───────────┬────────────┬───────────┬───┬────────┬───────────┬───────────┬───────────┐
│ property_i ┆ tank_type ┆ tank_numbe ┆ scada_id  ┆ … ┆ is_esd ┆ tank_type ┆ tank_numb ┆ tank_metr │
│ d          ┆ ---       ┆ r          ┆ ---       ┆   ┆ ---    ┆ _right    ┆ er_right  ┆ ic        │
│ ---        ┆ str       ┆ ---        ┆ str       ┆   ┆ str    ┆ ---       ┆ ---       ┆ ---       │
│ str        ┆           ┆ u8         ┆           ┆   ┆        ┆ str       ┆ u8        ┆ str       │
╞════════════╪═══════════╪════════════╪═══════════╪═══╪════════╪═══════════╪═══════════╪═══════════╡
│ 480001     ┆ Oil       ┆ 1          ┆ FTW480001 ┆ … ┆ ESD-   ┆ Oil       ┆ null      ┆ InchesUnt │
│            ┆           ┆            ┆           ┆   ┆        ┆           ┆           ┆ ilAlarm   │
│ 480001     ┆ Oil       ┆ 2          ┆ FTW480001 ┆ … ┆ ESD-   ┆ Oil       ┆ null      ┆ InchesUnt │
│            ┆           ┆            ┆           ┆   ┆        ┆           ┆           ┆ ilAlarm   │
│ 480001     ┆ Water     ┆ 2          ┆ FTW480001 ┆ … ┆ ESD-   ┆ Oil       ┆ null      ┆ InchesUnt │
│            ┆           ┆            ┆           ┆   ┆        ┆           ┆           ┆ ilAlarm   │
│ 480001     ┆ Water     ┆ 1          ┆ FTW480001 ┆ … ┆ ESD-   ┆ Oil       ┆ null      ┆ InchesUnt │
│            ┆           ┆            ┆           ┆   ┆        ┆           ┆           ┆ ilAlarm   │
└────────────┴───────────┴────────────┴───────────┴───┴────────┴───────────┴───────────┴───────────┘

In [10]:
final_lf = final_lf.with_columns(
    pl.col("property_id"),
    pl.col("tank_type"),
    pl.col("tank_number"),
    pl.coalesce(pl.col("Level"), pl.col("Level_right")).alias("level"),
    pl.coalesce(pl.col("Volume"), pl.col("Volume_right")).alias("volume"),
    pl.coalesce(pl.col("InchesToESD"), pl.col("InchesUntilAlarm_right")).alias("inches_to_esd"),
    pl.coalesce(pl.col("TimeUntilESD"), pl.col("TimeUntilESD_right")).alias("time_until_esd"),
    pl.coalesce(pl.col("Capacity"), pl.col("tanksize")).alias("capacity")
)

required_columns = ["property_id", "tank_type", "tank_number", "level", "volume", "inches_to_esd", "time_until_esd", "capacity"]
final_lf = final_lf.select(required_columns)
final_lf.collect()

shape: (4, 8)
┌────────────┬───────────┬────────────┬───────────┬────────────┬───────────┬───────────┬───────────┐
│ property_i ┆ tank_type ┆ tank_numbe ┆ level     ┆ volume     ┆ inches_to ┆ time_unti ┆ capacity  │
│ d          ┆ ---       ┆ r          ┆ ---       ┆ ---        ┆ _esd      ┆ l_esd     ┆ ---       │
│ ---        ┆ str       ┆ ---        ┆ f64       ┆ f64        ┆ ---       ┆ ---       ┆ f64       │
│ str        ┆           ┆ u8         ┆           ┆            ┆ f64       ┆ f64       ┆           │
╞════════════╪═══════════╪════════════╪═══════════╪════════════╪═══════════╪═══════════╪═══════════╡
│ 480001     ┆ Oil       ┆ 1          ┆ 81.727208 ┆ 227.020022 ┆ 66.518221 ┆ null      ┆ 413.34411 │
│            ┆           ┆            ┆           ┆            ┆           ┆           ┆ 8         │
│ 480001     ┆ Oil       ┆ 2          ┆ 98.825588 ┆ 274.515522 ┆ null      ┆ null      ┆ 406.09932 │
│            ┆           ┆            ┆           ┆            ┆           ┆           ┆ 8         │
│ 480001     ┆ Water     ┆ 2          ┆ 83.739797 ┆ 232.610547 ┆ null      ┆ null      ┆ 409.71822 │
│            ┆           ┆            ┆           ┆            ┆           ┆           ┆ 2         │
│ 480001     ┆ Water     ┆ 1          ┆ 21.016423 ┆ 58.378953  ┆ 173.40877 ┆ null      ┆ 410.47651 │
│            ┆           ┆            ┆           ┆            ┆           ┆           ┆ 3         │
└────────────┴───────────┴────────────┴───────────┴────────────┴───────────┴───────────┴───────────┘

In [11]:
final_lf = final_lf.sort("property_id", "tank_type", "tank_number")
final_lf.collect()

shape: (4, 8)
┌────────────┬───────────┬────────────┬───────────┬────────────┬───────────┬───────────┬───────────┐
│ property_i ┆ tank_type ┆ tank_numbe ┆ level     ┆ volume     ┆ inches_to ┆ time_unti ┆ capacity  │
│ d          ┆ ---       ┆ r          ┆ ---       ┆ ---        ┆ _esd      ┆ l_esd     ┆ ---       │
│ ---        ┆ str       ┆ ---        ┆ f64       ┆ f64        ┆ ---       ┆ ---       ┆ f64       │
│ str        ┆           ┆ u8         ┆           ┆            ┆ f64       ┆ f64       ┆           │
╞════════════╪═══════════╪════════════╪═══════════╪════════════╪═══════════╪═══════════╪═══════════╡
│ 480001     ┆ Oil       ┆ 1          ┆ 81.727208 ┆ 227.020022 ┆ 66.518221 ┆ null      ┆ 413.34411 │
│            ┆           ┆            ┆           ┆            ┆           ┆           ┆ 8         │
│ 480001     ┆ Oil       ┆ 2          ┆ 98.825588 ┆ 274.515522 ┆ null      ┆ null      ┆ 406.09932 │
│            ┆           ┆            ┆           ┆            ┆           ┆           ┆ 8         │
│ 480001     ┆ Water     ┆ 1          ┆ 21.016423 ┆ 58.378953  ┆ 173.40877 ┆ null      ┆ 410.47651 │
│            ┆           ┆            ┆           ┆            ┆           ┆           ┆ 3         │
│ 480001     ┆ Water     ┆ 2          ┆ 83.739797 ┆ 232.610547 ┆ null      ┆ null      ┆ 409.71822 │
│            ┆           ┆            ┆           ┆            ┆           ┆           ┆ 2         │
└────────────┴───────────┴────────────┴───────────┴────────────┴───────────┴───────────┴───────────┘

In [12]:
percent_tank_full = (pl.col("volume") / pl.col("capacity") * 100).round().cast(pl.UInt8)
final_lf = final_lf.with_columns(percent_tank_full.alias("percent_full"))

final_lf.collect()

shape: (4, 9)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ property_ ┆ tank_type ┆ tank_numb ┆ level     ┆ … ┆ inches_to ┆ time_unti ┆ capacity  ┆ percent_ │
│ id        ┆ ---       ┆ er        ┆ ---       ┆   ┆ _esd      ┆ l_esd     ┆ ---       ┆ full     │
│ ---       ┆ str       ┆ ---       ┆ f64       ┆   ┆ ---       ┆ ---       ┆ f64       ┆ ---      │
│ str       ┆           ┆ u8        ┆           ┆   ┆ f64       ┆ f64       ┆           ┆ u8       │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 480001    ┆ Oil       ┆ 1         ┆ 81.727208 ┆ … ┆ 66.518221 ┆ null      ┆ 413.34411 ┆ 55       │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ 8         ┆          │
│ 480001    ┆ Oil       ┆ 2         ┆ 98.825588 ┆ … ┆ null      ┆ null      ┆ 406.09932 ┆ 68       │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ 8         ┆          │
│ 480001    ┆ Water     ┆ 1         ┆ 21.016423 ┆ … ┆ 173.40877 ┆ null      ┆ 410.47651 ┆ 14       │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ 3         ┆          │
│ 480001    ┆ Water     ┆ 2         ┆ 83.739797 ┆ … ┆ null      ┆ null      ┆ 409.71822 ┆ 57       │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ 2         ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [13]:
capacity_rounded = pl.col("capacity").round()
final_lf = final_lf.with_columns(capacity_rounded.alias("capacity"))

final_lf.collect()

shape: (4, 9)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬──────────┬───────────┐
│ property_ ┆ tank_type ┆ tank_numb ┆ level     ┆ … ┆ inches_to ┆ time_unti ┆ capacity ┆ percent_f │
│ id        ┆ ---       ┆ er        ┆ ---       ┆   ┆ _esd      ┆ l_esd     ┆ ---      ┆ ull       │
│ ---       ┆ str       ┆ ---       ┆ f64       ┆   ┆ ---       ┆ ---       ┆ f64      ┆ ---       │
│ str       ┆           ┆ u8        ┆           ┆   ┆ f64       ┆ f64       ┆          ┆ u8        │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪══════════╪═══════════╡
│ 480001    ┆ Oil       ┆ 1         ┆ 81.727208 ┆ … ┆ 66.518221 ┆ null      ┆ 413.0    ┆ 55        │
│ 480001    ┆ Oil       ┆ 2         ┆ 98.825588 ┆ … ┆ null      ┆ null      ┆ 406.0    ┆ 68        │
│ 480001    ┆ Water     ┆ 1         ┆ 21.016423 ┆ … ┆ 173.40877 ┆ null      ┆ 410.0    ┆ 14        │
│ 480001    ┆ Water     ┆ 2         ┆ 83.739797 ┆ … ┆ null      ┆ null      ┆ 410.0    ┆ 57        │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴──────────┴───────────┘

In [14]:
volume_to_feet = pl.col("volume").round().cast(pl.UInt64)

final_lf = final_lf.with_columns(volume_to_feet.alias("volume"))

final_lf.collect()

shape: (4, 9)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬──────────┬───────────┐
│ property_ ┆ tank_type ┆ tank_numb ┆ level     ┆ … ┆ inches_to ┆ time_unti ┆ capacity ┆ percent_f │
│ id        ┆ ---       ┆ er        ┆ ---       ┆   ┆ _esd      ┆ l_esd     ┆ ---      ┆ ull       │
│ ---       ┆ str       ┆ ---       ┆ f64       ┆   ┆ ---       ┆ ---       ┆ f64      ┆ ---       │
│ str       ┆           ┆ u8        ┆           ┆   ┆ f64       ┆ f64       ┆          ┆ u8        │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪══════════╪═══════════╡
│ 480001    ┆ Oil       ┆ 1         ┆ 81.727208 ┆ … ┆ 66.518221 ┆ null      ┆ 413.0    ┆ 55        │
│ 480001    ┆ Oil       ┆ 2         ┆ 98.825588 ┆ … ┆ null      ┆ null      ┆ 406.0    ┆ 68        │
│ 480001    ┆ Water     ┆ 1         ┆ 21.016423 ┆ … ┆ 173.40877 ┆ null      ┆ 410.0    ┆ 14        │
│ 480001    ┆ Water     ┆ 2         ┆ 83.739797 ┆ … ┆ null      ┆ null      ┆ 410.0    ┆ 57        │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴──────────┴───────────┘