In [5]:
import polars as pl
from src.tank_ts_endpoint import fetch_tank_ts_data, GetTanksTimeDataReq

req = GetTanksTimeDataReq(scada_id='98840W2')

df = await fetch_tank_ts_data(req)
if df is None:
    raise ValueError("df is None")
lf = df.lazy()
lf.collect()

shape: (96, 5)
┌────────────────────────────┬────────────┬──────────┬──────────────────┬─────┐
│ ts                         ┆ value      ┆ scada_id ┆ tank_name        ┆ uom │
│ ---                        ┆ ---        ┆ ---      ┆ ---              ┆ --- │
│ datetime[μs]               ┆ f64        ┆ str      ┆ str              ┆ str │
╞════════════════════════════╪════════════╪══════════╪══════════════════╪═════╡
│ 2019-04-05 01:41:07.809116 ┆ 76.456344  ┆ 98840W2  ┆ WaterTank2Level  ┆ in  │
│ 2019-04-05 00:41:07.809116 ┆ 76.349873  ┆ 98840W2  ┆ WaterTank2Level  ┆ in  │
│ 2019-04-04 23:41:07.809116 ┆ 76.283003  ┆ 98840W2  ┆ WaterTank2Level  ┆ in  │
│ 2019-04-04 22:41:07.809116 ┆ 76.287785  ┆ 98840W2  ┆ WaterTank2Level  ┆ in  │
│ 2019-04-04 21:41:07.809116 ┆ 76.388698  ┆ 98840W2  ┆ WaterTank2Level  ┆ in  │
│ …                          ┆ …          ┆ …        ┆ …                ┆ …   │
│ 2023-08-15 00:52:13.787936 ┆ 365.600882 ┆ 98840W2  ┆ WaterTank2Volume ┆ bbl │
│ 2023-08-14 23:52:13.787936 ┆ 363.953501 ┆ 98840W2  ┆ WaterTank2Volume ┆ bbl │
│ 2023-08-14 22:52:13.787936 ┆ 362.274663 ┆ 98840W2  ┆ WaterTank2Volume ┆ bbl │
│ 2023-08-14 21:52:13.787936 ┆ 360.575111 ┆ 98840W2  ┆ WaterTank2Volume ┆ bbl │
│ 2023-08-14 20:52:13.787936 ┆ 358.863939 ┆ 98840W2  ┆ WaterTank2Volume ┆ bbl │
└────────────────────────────┴────────────┴──────────┴──────────────────┴─────┘

In [6]:
tank_metrics = ["Level", "Volume", "InchesUntilAlarm", "InchesToESD"]
tank_types = ["Water", "Oil"]

tank_metrics_str= "|".join(tank_metrics)
tank_types_str = "|".join(tank_types)

pattern = f'^(?<is_esd>ESD-)?(?<tank_type>{tank_types_str})Tank(?<tank_number>[0-9]*)(?<tank_metric>{tank_metrics_str})'
lf = lf.with_columns(separated_metrics = pl.col("tank_name").str.extract_groups(pattern))
lf = lf.unnest("separated_metrics")
lf.collect()

shape: (96, 9)
┌────────────┬────────────┬──────────┬────────────┬───┬────────┬───────────┬───────────┬───────────┐
│ ts         ┆ value      ┆ scada_id ┆ tank_name  ┆ … ┆ is_esd ┆ tank_type ┆ tank_numb ┆ tank_metr │
│ ---        ┆ ---        ┆ ---      ┆ ---        ┆   ┆ ---    ┆ ---       ┆ er        ┆ ic        │
│ datetime[μ ┆ f64        ┆ str      ┆ str        ┆   ┆ str    ┆ str       ┆ ---       ┆ ---       │
│ s]         ┆            ┆          ┆            ┆   ┆        ┆           ┆ str       ┆ str       │
╞════════════╪════════════╪══════════╪════════════╪═══╪════════╪═══════════╪═══════════╪═══════════╡
│ 2019-04-05 ┆ 76.456344  ┆ 98840W2  ┆ WaterTank2 ┆ … ┆ null   ┆ Water     ┆ 2         ┆ Level     │
│ 01:41:07.8 ┆            ┆          ┆ Level      ┆   ┆        ┆           ┆           ┆           │
│ 09116      ┆            ┆          ┆            ┆   ┆        ┆           ┆           ┆           │
│ 2019-04-05 ┆ 76.349873  ┆ 98840W2  ┆ WaterTank2 ┆ … ┆ null   ┆ Water     ┆ 2         ┆ Level     │
│ 00:41:07.8 ┆            ┆          ┆ Level      ┆   ┆        ┆           ┆           ┆           │
│ 09116      ┆            ┆          ┆            ┆   ┆        ┆           ┆           ┆           │
│ 2019-04-04 ┆ 76.283003  ┆ 98840W2  ┆ WaterTank2 ┆ … ┆ null   ┆ Water     ┆ 2         ┆ Level     │
│ 23:41:07.8 ┆            ┆          ┆ Level      ┆   ┆        ┆           ┆           ┆           │
│ 09116      ┆            ┆          ┆            ┆   ┆        ┆           ┆           ┆           │
│ 2019-04-04 ┆ 76.287785  ┆ 98840W2  ┆ WaterTank2 ┆ … ┆ null   ┆ Water     ┆ 2         ┆ Level     │
│ 22:41:07.8 ┆            ┆          ┆ Level      ┆   ┆        ┆           ┆           ┆           │
│ 09116      ┆            ┆          ┆            ┆   ┆        ┆           ┆           ┆           │
│ 2019-04-04 ┆ 76.388698  ┆ 98840W2  ┆ WaterTank2 ┆ … ┆ null   ┆ Water     ┆ 2         ┆ Level     │
│ 21:41:07.8 ┆            ┆          ┆ Level      ┆   ┆        ┆           ┆           ┆           │
│ 09116      ┆            ┆          ┆            ┆   ┆        ┆           ┆           ┆           │
│ …          ┆ …          ┆ …        ┆ …          ┆ … ┆ …      ┆ …         ┆ …         ┆ …         │
│ 2023-08-15 ┆ 365.600882 ┆ 98840W2  ┆ WaterTank2 ┆ … ┆ null   ┆ Water     ┆ 2         ┆ Volume    │
│ 00:52:13.7 ┆            ┆          ┆ Volume     ┆   ┆        ┆           ┆           ┆           │
│ 87936      ┆            ┆          ┆            ┆   ┆        ┆           ┆           ┆           │
│ 2023-08-14 ┆ 363.953501 ┆ 98840W2  ┆ WaterTank2 ┆ … ┆ null   ┆ Water     ┆ 2         ┆ Volume    │
│ 23:52:13.7 ┆            ┆          ┆ Volume     ┆   ┆        ┆           ┆           ┆           │
│ 87936      ┆            ┆          ┆            ┆   ┆        ┆           ┆           ┆           │
│ 2023-08-14 ┆ 362.274663 ┆ 98840W2  ┆ WaterTank2 ┆ … ┆ null   ┆ Water     ┆ 2         ┆ Volume    │
│ 22:52:13.7 ┆            ┆          ┆ Volume     ┆   ┆        ┆           ┆           ┆           │
│ 87936      ┆            ┆          ┆            ┆   ┆        ┆           ┆           ┆           │
│ 2023-08-14 ┆ 360.575111 ┆ 98840W2  ┆ WaterTank2 ┆ … ┆ null   ┆ Water     ┆ 2         ┆ Volume    │
│ 21:52:13.7 ┆            ┆          ┆ Volume     ┆   ┆        ┆           ┆           ┆           │
│ 87936      ┆            ┆          ┆            ┆   ┆        ┆           ┆           ┆           │
│ 2023-08-14 ┆ 358.863939 ┆ 98840W2  ┆ WaterTank2 ┆ … ┆ null   ┆ Water     ┆ 2         ┆ Volume    │
│ 20:52:13.7 ┆            ┆          ┆ Volume     ┆   ┆        ┆           ┆           ┆           │
│ 87936      ┆            ┆          ┆            ┆   ┆        ┆           ┆           ┆           │
└────────────┴────────────┴──────────┴────────────┴───┴────────┴───────────┴───────────┴───────────┘

In [7]:
lf = lf.drop("tank_name", "is_esd", "tank_type", "tank_number")
lf.collect()

shape: (96, 5)
┌────────────────────────────┬────────────┬──────────┬─────┬─────────────┐
│ ts                         ┆ value      ┆ scada_id ┆ uom ┆ tank_metric │
│ ---                        ┆ ---        ┆ ---      ┆ --- ┆ ---         │
│ datetime[μs]               ┆ f64        ┆ str      ┆ str ┆ str         │
╞════════════════════════════╪════════════╪══════════╪═════╪═════════════╡
│ 2019-04-05 01:41:07.809116 ┆ 76.456344  ┆ 98840W2  ┆ in  ┆ Level       │
│ 2019-04-05 00:41:07.809116 ┆ 76.349873  ┆ 98840W2  ┆ in  ┆ Level       │
│ 2019-04-04 23:41:07.809116 ┆ 76.283003  ┆ 98840W2  ┆ in  ┆ Level       │
│ 2019-04-04 22:41:07.809116 ┆ 76.287785  ┆ 98840W2  ┆ in  ┆ Level       │
│ 2019-04-04 21:41:07.809116 ┆ 76.388698  ┆ 98840W2  ┆ in  ┆ Level       │
│ …                          ┆ …          ┆ …        ┆ …   ┆ …           │
│ 2023-08-15 00:52:13.787936 ┆ 365.600882 ┆ 98840W2  ┆ bbl ┆ Volume      │
│ 2023-08-14 23:52:13.787936 ┆ 363.953501 ┆ 98840W2  ┆ bbl ┆ Volume      │
│ 2023-08-14 22:52:13.787936 ┆ 362.274663 ┆ 98840W2  ┆ bbl ┆ Volume      │
│ 2023-08-14 21:52:13.787936 ┆ 360.575111 ┆ 98840W2  ┆ bbl ┆ Volume      │
│ 2023-08-14 20:52:13.787936 ┆ 358.863939 ┆ 98840W2  ┆ bbl ┆ Volume      │
└────────────────────────────┴────────────┴──────────┴─────┴─────────────┘

In [8]:
aggregated_lf = lf.group_by(["tank_metric", "uom"]).agg([
    pl.col("ts").alias("timestamps"),
    pl.col("value").alias("values")
])

aggregated_lf.collect()

shape: (2, 4)
┌─────────────┬─────┬─────────────────────────────────┬─────────────────────────────────┐
│ tank_metric ┆ uom ┆ timestamps                      ┆ values                          │
│ ---         ┆ --- ┆ ---                             ┆ ---                             │
│ str         ┆ str ┆ list[datetime[μs]]              ┆ list[f64]                       │
╞═════════════╪═════╪═════════════════════════════════╪═════════════════════════════════╡
│ Level       ┆ in  ┆ [2019-04-05 01:41:07.809116, 2… ┆ [76.456344, 76.349873, … 78.17… │
│ Volume      ┆ bbl ┆ [2023-08-16 19:52:13.787936, 2… ┆ [357.148125, 357.041653, … 358… │
└─────────────┴─────┴─────────────────────────────────┴─────────────────────────────────┘