In [ ]:
import sqlite3

con = sqlite3.connect("tanks.db")

In [ ]:
cur = con.cursor() #In order to execute SQL statements and fetch results from SQL queries

In [ ]:
query = """--sql
    COPY (SELECT * FROM fdm_dba.fdm_division) TO 'C:/Users/tjana/OneDrive/Documents/fdm_division.csv' WITH CSV HEADER
"""

In [2]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('tanks.db')
cursor = conn.cursor()

# Create tables
cursor.execute('''
    CREATE TABLE IF NOT EXISTS fdm_division (
        division_id INTEGER PRIMARY KEY,
        division_name VARCHAR(64)
    )
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS mrte_completion (
        completion_id INTERGER PRIMARY KEY,
        completion_name VARCHAR(64),
        first_production_ts TIMESTAMP, 
        division_id INTEGER,
        primo_prprty INTEGER,
        fac_primo_prprty INTEGER
    )
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS mrte_facility (
        facility_id INTEGER PRIMARY KEY,
        facility_name VARCHAR(64),
        first_production_ts TIMESTAMP,
        division_id INTEGER,
        primo_prprty INTEGER
    )
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS data_catalog (
        key_metric TEXT PRIMARY KEY, 
        source_key VARCHAR(64),
        source_id VARCHAR(64),
        metric_nice_name VARCHAR(64),
        uom VARCHAR(64),
        division_id INTEGER
    )
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS timeseries_data (
        key_metric TEXT PRIMARY KEY 
        ts TIMESTAMP,
        value REAL
    )
''')



# Commit changes and close connection
conn.commit()
conn.close()

In [14]:
from typing import List, Union

def match_string(word_list: List[str], substr: str) -> Union[List[str], str]:
    matches = [word for word in word_list if substr.lower() in word.lower()]
    return matches

In [17]:
match_string(substr = "gg", word_list=["Aggieland", "Dallas", "Bayou City Fac", "ATX Fac"])

['Aggieland']